


















@model MVCCMS.NET.Model.Navigation

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="bjui-pageContent tableContent">
	<div class="bjui-doc">
        @*<h3 class="page-header">页面说明</h3>
        <blockquote>
            <p>提示</p>
        </blockquote>
        <blockquote class="point">
            <p>提示2</p>
        </blockquote>*@
    @Html.AntiForgeryToken()
    <table class="table table-bordered table-striped table-condensed table-hover" width="100%">
            <tbody>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		 @Html.HiddenFor(model => model.Id)

        <tr>
            <td>
			@Html.LabelFor(model => model.NavType,  new { @class = "control-label x85", @for="NavType" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.NavType)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.Name,  new { @class = "control-label x85", @for="Name" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.Name)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.Title,  new { @class = "control-label x85", @for="Title" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.Title)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.SubTitle,  new { @class = "control-label x85", @for="SubTitle" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.SubTitle)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.IconUrl,  new { @class = "control-label x85", @for="IconUrl" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.IconUrl)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.LinkUrl,  new { @class = "control-label x85", @for="LinkUrl" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.LinkUrl)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.SortId,  new { @class = "control-label x85", @for="SortId" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.SortId)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.IsLock,  new { @class = "control-label x85", @for="IsLock" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.IsLock)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.Remark,  new { @class = "control-label x85", @for="Remark" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.Remark)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.ParentId,  new { @class = "control-label x85", @for="ParentId" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.ParentId)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.ClassList,  new { @class = "control-label x85", @for="ClassList" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.ClassList)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.ClassLayer,  new { @class = "control-label x85", @for="ClassLayer" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.ClassLayer)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.ActionType,  new { @class = "control-label x85", @for="ActionType" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.ActionType)
			</td>
        </tr>
        <tr>
            <td>
			@Html.LabelFor(model => model.IsSystem,  new { @class = "control-label x85", @for="IsSystem" })
            </td>
			<td>
			 @Html.DisplayFor(model => model.IsSystem)
			</td>
        </tr>
		</tbody>
    </table>
</div>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>

